@model string

<div class="modal fade modal_booking" id="notice_reset_password_user" aria-hidden="true" data-backdrop="static" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title title-popup">@LayoutResource.UserMngt_PopupResetPass_Title</h2>
                <br />
            </div>
            <div class="modal-body">
                <div class="body_booking">
                    <div class="dis_tbl">
                        <p class="dis_tbl_r" style="margin-top: 10px;">
                            <strong class="dis_tbl_c text-right">@LayoutResource.UserMngt_ListUser_Label_UserFullName</strong>&nbsp;
                            <span class="dis_tbl_c"><span class="user_fullname"></span></span>
                        </p>
                        <p class="dis_tbl_r" style="margin-top: 10px;">
                            <strong class="dis_tbl_c text-right">@LayoutResource.UserMngt_ListUser_Label_EmailAddress</strong>&nbsp;
                            <a href="#" class="dis_tbl_c user_email"></a>
                        </p>
                    </div>
                    <p class="desc null"><span>@LayoutResource.UserMngt_PopupResetPass_Description <b style="font-size: 15px;">@Model</b></span></p>
                    <div class="btn-wrapper text-right">
                        <button class="btn btn-default btn-submit" type="submit" tabindex="7"><i class="fa fa-bolt"></i>&nbsp;@LayoutResource.UserMngt_ListUser_Label_ResetPassword</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>