@model Admin.Models.User.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal_booking modal_booking_iframe">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title title-popup">Thay đổi mật khẩu</h2>
    </div>
    <div class="modal-body">
        <div class="body_booking">
            @using (Ajax.BeginForm("ChangePassword", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SaveComplete" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12 div_input_form_control_label">
                        <label for="BookingTitle" class="req">Mật khẩu cũ</label>
                        @Html.PasswordFor(t => t.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(t => t.OldPassword)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 div_input_form_control_label">
                        <label for="BookingTitle" class="req">Mật khẩu mới</label>
                        @Html.PasswordFor(t => t.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(t => t.NewPassword)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 div_input_form_control_label">
                        <label for="BookingTitle" class="req">Nhập lại mật khẩu mới</label>
                        @Html.PasswordFor(t => t.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(t => t.ConfirmPassword)
                    </div>
                </div>
                <div class="btn-wrapper text-right">
                    <button class="btn btn-accept" tabindex="8" type="submit"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('form').submit(function () {
            if ($(this).valid()) {
                $('.btn-accept').prop('disabled', true);
            }
        });

        if ($('#OldPassword').val().length > 0) {
            $('#NewPassword').focus();
        }
        else {
            $('#OldPassword').focus();
        }

        function SaveComplete(data) {
            console.log(data);
            if (data.ID == 1) {
                window.top.location.reload();
            }
            else {
                $('.btn-accept').prop('disabled', false);
                ShowNotify('error', data.Message);
                HideOverlay();
            }
        }
    </script>
}