@using Admin.Models.Master
@model CreateUpdatePnLListModel
@{
    string errorMessage = ViewBag.ErrorMessage as string;
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var listGroup = (List<SelectListItem>)ViewBag.ListType;
}

<div class="modal_booking modal_booking_iframe">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title title-popup">
            @if (Model == null || (Model != null && Model.PnLListId == 0))
            {
                @(LayoutResource.PnLList_PopupCreate_Title)
            }
            else
            {
                @(LayoutResource.PnLList_PopupUpdate_Title)
            }
        </h2>
        <p class="place"></p>
    </div>
    <div class="modal-body">
        <div class="body_booking">

            @if (string.IsNullOrEmpty(errorMessage) == false)
            {
                @Html.Partial("_ErrorOccur", errorMessage)
            }
            else if (Model == null)
            {
                @Html.Partial("_ErrorOccur", LayoutResource.Shared_NoRowFound)
            }
            else
            {
                using (Ajax.BeginForm("CreateUpdatePnLList", "Master", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SaveResult" }, new { onsubmit = "removeDisabled();$('#err_msg').html('').hide();" }))
                {
                    @*@Html.Hidden("Id", Model.Id)*@
                    @Html.Hidden("PnLListId", Model.PnLListId)
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.PnLListCode, "Code", new { @class = "req" })
                            @Html.TextBoxFor(x => x.PnLListCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PnLListCode)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.PnLListName, "Name", new { @class = "req" })
                            @Html.TextBoxFor(x => x.PnLListName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PnLListName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.Description, "Description")
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.FullAddress, "Full Address")
                            @Html.TextBoxFor(x => x.FullAddress, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.StatusId, "Status", new { @class = "req" })
                            @Html.DropDownListFor(x => x.StatusId, new SelectList(Model.ListPnLsStatus, "StatusId", "StatusName"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.StatusId)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group relative not_input_error not_input_error_popup" style="top: 0;">
                            <span id="err_msg" class="field-validation-error" style="display:none"></span>
                        </div>
                    </div>
                    <div class="btn-wrapper text-right">
                        <button class="btn btn-accept" tabindex="8" type="submit"><i class="fa fa-save"></i>&nbsp;@LayoutResource.Shared_BtnText_Save</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section styles{
    <style>
        .select2-results .select2-disabled {
            display: none;
        }
    </style>
}
@section scripts{
    @if (ViewBag.IsSuccess != null && (bool)ViewBag.IsSuccess)
    {
        TempData[AdminGlobal.ActionMessage] = ViewBag.ActionMessage;

        <script type="text/javascript">
            parent.window.location.reload();
        </script>
    }

    <script>
        $(function () {
            @*var dropzone = $("div#dropzone").dropzone({
                url: urlUploadedFile,
                dictDefaultMessage: "@LayoutResource.Shared_Upload_Image.ToUpper()",
                thumbnailWidth: 98,
                thumbnailHeight: 98,
                maxFiles: 1,
                acceptedFiles: "@AdminGlobal.AllowUploadImageExt",
                thumbnailMethod: 'contain',
                success: function (file) {
                    var response = JSON.parse(file.xhr.response);
                    var path = photoDomain + response.Message;
                    $("#microsite_Image").attr("src", path);
                    $("#ImageUrl").val(response.Message);

                    Dropzone.forElement("#dropzone").removeAllFiles(true);
                },
                error: function (file) {
                    Dropzone.forElement("#dropzone").removeAllFiles(true);
                },
            });



            var dropzoneMobile = $("div#dropzoneMobile").dropzone({
                url: urlUploadedFile,
                dictDefaultMessage: "@LayoutResource.Shared_Upload_Image.ToUpper()",
                thumbnailWidth: 98,
                thumbnailHeight: 98,
                maxFiles: 1,
                acceptedFiles: "@AdminGlobal.AllowUploadImageExt",
                thumbnailMethod: 'contain',
                success: function (file) {
                    var response = JSON.parse(file.xhr.response);
                    var path = photoDomain + response.Message;
                    $("#microsite_BannerUrl").attr("src", path);
                    $("#BannerUrl").val(response.Message);

                    Dropzone.forElement("#dropzoneMobile").removeAllFiles(true);
                },
                error: function (file) {
                    Dropzone.forElement("#dropzoneMobile").removeAllFiles(true);
                },
            });*@
        });


        function removeDisabled() {
            $("#PnLListCode,#Description,#PnLListId,#FullAddress,#StatusId").removeAttr("disabled");
            $("#err_msg").html("").hide();
        }

        function SaveResult(data){
            if(!data.Id){
                $("#err_msg").html(msg_lang.Shared_SystemErrorMessage).show();
                HideOverlay(0);
            }
            else if(data.Id==@((int)ResponseCode.PnLList_SuccessUpdate) || data.Id == @((int)ResponseCode.PnLList_SuccessCreate)){
                parent.window.location.reload();
        }
        else{
                $("#err_msg").html(data.Message).show();
        HideOverlay(0);}
        }
    </script>
}