@using Admin.Models.Master
@model CreateUpdateStaffListModel
@{
    string errorMessage = ViewBag.ErrorMessage as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@*<script src="~/Scripts/jquery-1.8.3.min.js"></script>*@

<div class="modal_booking modal_booking_iframe">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title title-popup">
            @if (Model == null || (Model != null && Model.StaffListId == 0))
            {
                @(LayoutResource.StaffList_PopupCreate_Title)
            }
            else
            {
                @(LayoutResource.StaffList_PopupUpdate_Title)
            }
        </h2>
        <p class="place"></p>
        
    </div>
    <div class="modal-body">
        <div class="body_booking">

            @if (string.IsNullOrEmpty(errorMessage) == false)
            {
                @Html.Partial("_ErrorOccur", errorMessage)
            }
            else if (Model == null)
            {
                @Html.Partial("_ErrorOccur", LayoutResource.Shared_NoRowFound)
            }
            else
            {
                using (Ajax.BeginForm("CreateUpdateStaffList", "Master", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SaveResult" }, new { onsubmit = "removeDisabled();$('#err_msg').html('').hide();" }))
                {
                    <div class="row">
                        @Html.Hidden("Id", Model.Id)
                        @Html.Hidden("StaffListId", Model.StaffListId)
                        @Html.AntiForgeryToken()
                        <!-- col left -->
                        <div class="col-xs-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Code (<span style="color: red;">*</span>)</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StaffListCode, new { @class = "form-control", @placeholder = "Code", uifocus = "focus", @maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.StaffListCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Full Name (<span style="color: red;">*</span>)</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Full Name", uifocus = "focus", @maxlength = "500" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">General </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.General, new SelectList(Model.ListDepartmentGeneral, "DId", "GeneralEN"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.General)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Email </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", uifocus = "focus", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Phone No. </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", @placeholder = "Phone No", uifocus = "focus", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Unit Code (<span style="color: red;">*</span>)</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.UnitCodeId, new SelectList(Model.ListDepartmentUnit, "LocationId", "NameVN"), "---Select Unit Code---", new { @class = "form-control", id = "unitDropDown", onchange = "getCentreCode()" })
                                    @Html.ValidationMessageFor(x => x.UnitCodeId)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Centre Code (<span style="color: red;">*</span>)</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.CentreCodeId, new SelectList(Model.ListDepartmentCentre, "LocationId", "NameVN"), "---Select Centre Code---", new { @class = "form-control", id = "centreDropDown", onchange = "getDepartmentCode()" })
                                    @Html.ValidationMessageFor(x => x.CentreCodeId)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Department Code (<span style="color: red;">*</span>)</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.DepartmentCodeId, new SelectList(Model.ListDepartmentDepartment, "LocationId", "NameVN"), "---Select Department Code---", new { @class = "form-control", id = "departmentDropDown", onchange = "getGroupCode()" })
                                    @Html.ValidationMessageFor(x => x.DepartmentCodeId)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Group Code (<span style="color: red;">*</span>)</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.GroupCodeId, new SelectList(Model.ListDepartmentGroup, "LocationId", "NameVN"), "---Select Group Code---", new { @class = "form-control", id = "groupDropDown" })
                                    @Html.ValidationMessageFor(x => x.GroupCodeId)
                                </div>
                            </div>
                        </div>
                        <!-- col left -->

                        <!-- col right-->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Office Location</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.OfficeLocation, new { @class = "form-control", @placeholder = "Office Location", uifocus = "focus" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">City Code</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CityCode, new { @class = "form-control", @placeholder = "City Code", uifocus = "focus", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Title Code </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.TitleCodeId, new SelectList(Model.ListDepartmentTitle, "DepartmentTitleId", "DepartmentTitlename"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.TitleCodeId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Level Code</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LevelCode, new { @class = "form-control", @placeholder = "Level Code", uifocus = "focus", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">Status</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.StatusId, new SelectList(Model.ListDepartmentStatus, "DepartmentStatusId", "DepartmentStatusName"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.StatusId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Manager Code</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ManagerCode, new { @class = "form-control", @placeholder = "Manager Code", uifocus = "focus", @maxlength = "500" })
                                </div>
                            </div>
                            
                            <!-- Birth Date -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Birth Date</label>
                                <div class="col-md-8">
                                    @*<input id="birth_date" class="form-control" data-date-format="@Extension.DateShortFormatJS" data-date-autoclose="true" placeholder="Birth Date" />*@
                                     @Html.TextBoxFor(model => model.BirthDate, new { @id = "birth_date", @class = "form-control", @DateFormatHandling = "@Extension.DateShortFormatJS",  @autocomplete = true, @placeholder = "Birth Date" })
                                </div>
                            </div>
                            <!-- Join Company Date -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Join Company Date</label>
                                <div class="col-md-8">
                                    @*<input id="join_company_date" class="form-control" data-date-format="@Extension.DateShortFormatJS" data-date-autoclose="true" placeholder="Join Company Date" />*@
                                    @Html.TextBoxFor(model => model.JoinCompanyDate, new { @id = "join_company_date", @class = "form-control", @DateFormatHandling = "@Extension.DateShortFormatJS", @autocomplete = true, @placeholder = "Join Company Date" })
                                </div>
                            </div>
                        </div>
                        <!-- col right-->
                    </div>

                    <div class="row">
                        <div class="form-group relative not_input_error not_input_error_popup" style="top: 0;">
                            <span id="err_msg" class="field-validation-error" style="display:none"></span>
                        </div>
                    </div>
                    <div class="btn-wrapper text-right">
                        <button class="btn btn-accept" tabindex="8" type="submit"><i class="fa fa-save"></i>&nbsp;@LayoutResource.Shared_BtnText_Save</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section styles{
    <style>
        .select2-results .select2-disabled {
            display: none;
        }
    </style>
}
@section scripts{
    @if (ViewBag.IsSuccess != null && (bool) ViewBag.IsSuccess)
    {
        TempData[AdminGlobal.ActionMessage] = ViewBag.ActionMessage;

        <script type="text/javascript">
            parent.window.location.reload();
        </script>
    }

    <script>
        function removeDisabled() {
            $("#StaffListId,#StaffListCode,#FullName,#General,#Email,#PhoneNo").removeAttr("disabled");
            $("#err_msg").html("").hide();
        }

        $('#birth_date').datepicker('setStartDate', new Date(1990, 1, 1));
        $('#birth_date').datepicker('setEndDate', new Date(3000, 12, 31));

        $('#join_company_date').datepicker('setStartDate', new Date(1990, 1, 1));
        $('#join_company_date').datepicker('setEndDate', new Date(3000, 12, 31));

        function SaveResult(data){
            if(!data.Id){
                $("#err_msg").html(msg_lang.Shared_SystemErrorMessage).show();
                HideOverlay(0);
            }
            else if(data.Id==@((int)ResponseCode.StaffList_SuccessUpdate) || data.Id == @((int)ResponseCode.StaffList_SuccessCreate)){
                parent.window.location.reload();
            }
            else if (data.status === 401) {
                window.location.href = data.redirect;
            }
            else{
                $("#err_msg").html(data.Message).show();
                HideOverlay(0);}
        }

        //Load Centre Code theo Unit Code
        function getCentreCode() {
            var stateId = $("#unitDropDown").val();
            $.ajax({
                url: '/Master/GetCityList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({ stateId: +stateId }),
                success: function (result) {
                    if (result.status === 401) {
                        window.location.href = result.redirect;
                    }
                    $("#centreDropDown").html("");
                    $("#centreDropDown").append
                        ($('<option></option>').val(null).html("---Select Centre Code---"));
                    $.each($.parseJSON(result), function (i, LocationContract)
                    { $("#centreDropDown").append($('<option></option>').val(LocationContract.LocationId).html(LocationContract.NameVN)) })
                },
                error: function () { alert("Error..") }
            });
        }
        //Load Department Code theo Centre Code
        function getDepartmentCode() {
            var stateId = $("#centreDropDown").val();
            $.ajax({
                url: '/Master/GetCityList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({ stateId: +stateId }),
                success: function (result) {
                    if (result.status === 401) {
                        window.location.href = result.redirect;
                    }
                    $("#departmentDropDown").html("");
                    $("#departmentDropDown").append
                        ($('<option></option>').val(null).html("---Select Department Code---"));
                    $.each($.parseJSON(result), function (i, LocationContract)
                    { $("#departmentDropDown").append($('<option></option>').val(LocationContract.LocationId).html(LocationContract.NameVN)) })
                },
                error: function () { alert("Error..") }
            });
        }
        //Load Group Code theo Department Code
        function getGroupCode() {
            var stateId = $("#departmentDropDown").val();
            $.ajax({
                url: '/Master/GetCityList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({ stateId: +stateId }),
                success: function (result) {
                    if (result.status === 401) {
                        window.location.href = result.redirect;
                    }
                    $("#groupDropDown").html("");
                    $("#groupDropDown").append
                        ($('<option></option>').val(null).html("---Select Group Code---"));
                    $.each($.parseJSON(result), function (i, LocationContract)
                    { $("#groupDropDown").append($('<option></option>').val(LocationContract.LocationId).html(LocationContract.NameVN)) })
                },
                error: function () { alert("Error..") }
            });
        }
        $(function () {
            $("#StaffListCode").focus();
        });
    </script>
}