@*@model Admin.Models.CheckList.CreateUpdateCheckListDetailModel*@

@using Admin.Models.CheckList
@model CreateUpdateCheckListDetailModel
@{
    string errorMessage = ViewBag.ErrorMessage as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal_booking modal_booking_iframe">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title title-popup">
            @if (Model == null || (Model != null && Model.CheckListDetailId == 0))
            {
                @(LayoutResource.CheckListItem_PopupCreate_Title)
            }
            else
            {
                @(LayoutResource.CheckListItem_PopupUpdate_Title)
            }
        </h2>
        <p class="place"></p>
    </div>
    <div class="modal-body">
        <div class="body_booking">

            @if (string.IsNullOrEmpty(errorMessage) == false)
            {
                @Html.Partial("_ErrorOccur", errorMessage)
            }
            else if (Model == null)
            {
                @Html.Partial("_ErrorOccur", LayoutResource.Shared_NoRowFound)
            }
            else
            {
                using (Ajax.BeginForm("CreateUpdateCheckListDetail", "CheckList", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SaveResult" }, new { onsubmit = "removeDisabled();$('#err_msg').html('').hide();" }))
                {
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("CheckListDetailId", Model.CheckListDetailId)
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.CheckListId, "Checklist Name", new { @class = "req" })
                            @Html.DropDownListFor(x => x.CheckListId, new SelectList(Model.ListCheckList, "CheckListId", "CheckListName"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CheckListId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.CheckListDetailName, "Checklist Item Name", new { @class = "req" })
                            @Html.TextBoxFor(x => x.CheckListDetailName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CheckListDetailName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.Description, "Description")
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.Priority, "Thứ tự")
                            @Html.TextBoxFor(x => x.Priority, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Priority)
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(x => x.Visible, "Trạng thái")
                            @Html.CheckBox("Visible")
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="form-group relative not_input_error not_input_error_popup" style="top: 0;">
                            <span id="err_msg" class="field-validation-error" style="display:none"></span>
                        </div>
                    </div>
                    <div class="btn-wrapper text-right">
                        <button class="btn btn-accept" tabindex="8" type="submit"><i class="fa fa-save"></i>&nbsp;@LayoutResource.Shared_BtnText_Save</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section styles{
    <style>
        .select2-results .select2-disabled {
            display: none;
        }
    </style>
}
@section scripts{
    @if (ViewBag.IsSuccess != null && (bool)ViewBag.IsSuccess)
    {
        TempData[AdminGlobal.ActionMessage] = ViewBag.ActionMessage;

        <script type="text/javascript">
            parent.window.location.reload();
        </script>
    }

    <script>
        function removeDisabled() {
            $("#CheckListDetailId,#CheckListDetailName,#CheckListId,#Description,#Visible").removeAttr("disabled");
            $("#err_msg").html("").hide();
        }

        function SaveResult(data)
        {
            if (!data.Id)
            {
                $("#err_msg").html(msg_lang.Shared_SystemErrorMessage).show();
                HideOverlay(0);
            }
            else if (data.Id == 200011 || data.Id == 200012)
            {
                parent.window.location.reload();
            }
            else
            {
                $("#err_msg").html(data.Message).show();
                HideOverlay(0);
            }
        }
        $(function () {
            $("#LevelCode").focus();
        });
    </script>
}