
@using Admin.Models.CheckList
@model InsertUpdateItemModel
@{
    string errorMessage = ViewBag.ErrorMessage as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal_booking modal_booking_iframe">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            ×
        </button>
        <h2 class="modal-title title-popup">
            @if (Model == null || (Model != null && Model.ClItemId == 0))
            {
                @(LayoutResource.AdminTools_Item_PopUp__NewPageTitle)
            }
            else
            {
                @LayoutResource.Master_ItemCheckList_UpdateLabel
            }

        </h2>
        <p class="place"></p>
    </div>
    <div class="modal-body">
        <div class="body_booking">

            @if (string.IsNullOrEmpty(errorMessage) == false)
            {
                @Html.Partial("_ErrorOccur", errorMessage)
            }
            else if (Model == null)
            {
                @Html.Partial("_ErrorOccur", LayoutResource.Shared_NoRowFound)
            }
            else
            {
                <form class="frmUpdateCheckListDetail" action="@Url.Action("InsertUpdateItem", "CheckList")" id="frmPopUp" method="post">
                    @Html.Hidden("ClItemId", Model.ClItemId)

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ItemName, new { @class = "req" })
                            @if (Model.ClItemId > 0)
                            {
                                @Html.TextBoxFor(x => x.ItemName, new { tabindex = "1", @class = "form-control", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.ItemName, new { tabindex = "1", @class = "form-control" })
                            }

                            @Html.ValidationMessageFor(x => x.ItemName)
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.Description, new { @class = "req" })
                            @Html.TextAreaFor(x => x.Description, new { tabindex = "2", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Description)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.State, new { @class = "req" })
                            @Html.DropDownListFor(x => x.State, Model.listStates, new { tabindex = "3", @class = "form-control select2 select2-offscreen", })
                            @Html.ValidationMessageFor(x => x.State)
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.Sort, new { @class = "req" })
                            @Html.TextBoxFor(x => x.Sort, new { tabindex = "4", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Sort)
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group relative not_input_error not_input_error_popup" style="top:0;">
                            <span id="err_msg" class="field-validation-error" style="display: none"></span>
                        </div>
                    </div>
                    <div class="btn-wrapper text-right">
                        <button class="btn btn-primary" tabindex="5" id="btnSaveData"><i class="fa fa-save"></i>&nbsp; @LayoutResource.Shared_BtnText_Save </button>
                    </div>
                </form>

            }
        </div>


    </div>
</div>

@section styles{
    @Styles.Render("~/styles_searchfrm")
    <style>
        .select2-results .select2-disabled {
            display: none;
        }

        body {
            min-height: 422px !important;
        }

        .cke_dialog_ui_labeled_label {
            font-weight: bold !important;
            margin-bottom: 5px !important;
        }

        .cke_dialog_ui_input_file.input {
            font-size: 12px !important;
        }

        .cke_dialog_tab {
            font-weight: bold !important;
        }
    </style>

}
@Scripts.Render("~/javas_searchfrm")
@section scripts{
    <script>
        $(function() {
           $("#btnSaveData").click(function(e) {
                if (!$("#frmPopUp").valid()) return;
                e.preventDefault();
                $.ajax({
                    url: '/CheckList/InsertUpdateItemByAjax/',
                    type: 'POST',
                    dataType: 'json',
                    data: $("#frmPopUp").serialize(),
                    success: function(data) {
                        if ((data.Id ==@((int)ResponseCode.ItemMngt_SuccessUpdated)) || (data.Id ==@((int)ResponseCode.ItemMngt_SuccessCreated)) )
                        {
                            parent.window.location.reload();
                        }
                        else if (data.status === 401) {
                            window.location.href = data.redirect;
                        }
                        else {
                            $("#err_msg").html(data.Message).show();
                            HideOverlay(0);
                        }
                    },
                    error: function(data) {
                        $("#err_msg").html(data.Message).show();
                        HideOverlay(0);
                    }
                });
            });
        });
    </script>
}
