

@using Admin.Models.Operation;
@using Contract.Enum;
@model OperationSearchCheckListModel
@{
    ViewBag.Title = "Lịch sử vận hành checklist";
}
@section styles{
    @Styles.Render("~/styles_searchfrm")
    <style>
        .well.well-sm {
            display: none;
        }

        table th {
            text-align: center;
        }

        .div_tag_bg {
            position: relative;
        }

            .div_tag_bg .bg_div {
                position: fixed;
                right: 10px;
                bottom: 10px;
                opacity: 0.1;
                font-size: 160px !important;
            }

        .well.well-sm {
            display: none;
        }
    </style>
}

@section scripts {
    @Scripts.Render("~/javas_searchfrm")
}

<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <h1 class="page_title">Lịch sử vận hành checklist</h1>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="div_add_fast">
                </div>
            </div>
        </div>
    </div>

    <div class="page_content">
        <div class="bg_page_fix">
            <i class="fa fa-window-restore"></i>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">@LayoutResource.Shared_BtnText_Search</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.AntiForgeryToken()
                            <form action="@Url.RouteUrl("HistoryCheckList")" id="searchform" data-parsley-validate novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@LayoutResource.Master_Share_SystemEnum_Title</label>
                                        @Html.DropDownList("systemId", Model.listSystems as List<SelectListItem>, new { tabindex = "1", @class = "form-control select2 select2-offscreen" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>@LayoutResource.Master_Share_CheckListTypeEnum_Title</label>
                                        @Html.DropDownList("checkListTypeId", Model.listCheckListTypes as List<SelectListItem>, new { tabindex = "2", @class = "form-control select2 select2-offscreen" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>@LayoutResource.Master_Share_StateEnum_Title</label>
                                        @Html.DropDownList("state", Model.listStates as List<SelectListItem>, new { tabindex = "3", @class = "form-control select2 select2-offscreen" })
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group ">
                                            <label>@LayoutResource.Master_Share_KeyWord</label>
                                            <input type="text" id="kw" class="form-control" name="kw" tabindex="4" autofocus
                                                   data-parsley-length="[0, 200]"
                                                   data-parsley-errors-container="#kw_parsley_container"
                                                   autocomplete="off"
                                                   placeholder="Nhập từ khóa tìm kiếm" value="@HttpUtility.UrlDecode(Request["kw"])" />
                                            <a id="kwclear" class="glyphicon glyphicon-remove" style="z-index:5;margin-top:-32px;display:inline;float:right;pointer-events:auto; text-decoration: none;cursor: pointer;color:red;line-height:28px;width:20px;position:relative;"></a>
                                            <div id="kw_parsley_container"></div>
                                            <span class="input-group-btn">
                                                <label>&nbsp;</label>
                                                <button title="@LayoutResource.CMS_ButtonText_Search" tabindex="5"
                                                        class="Tip_mouse_on_ne btn btn-master btn-search" style="width: 90px" id="searchSubmit">
                                                    <i class="fa fa-search"></i> @LayoutResource.CMS_ButtonText_Search
                                                </button>
                                                @if (Model != null && Model.listData != null && Model.listData.Any())
                                                {
                                                    <button type="submit" class="btn btn-search btn-success Tip_mouse_on linkURL" title="@LayoutResource.Share_Btn_ExportExcel_Title" formtarget="_blank" name="export" value="True" onclick="HideOverlay(4000)"><i class="fa fa-file-excel-o"></i></button>
                                                }

                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel-heading">@LayoutResource.Master_Share_Result</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            @if (Model != null && Model.listData != null && Model.listData.Any())
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped info-table margin_b0 table_booking table_week">
                                        <thead>
                                            <tr>
                                                <th class="sub_col" style="max-width: 30px; width: 30px">@LayoutResource.Shared_Label_SortNumber</th>
                                                <th class="sub_col" style="min-width: 150px; width: 150px">@LayoutResource.CheckList_Label_Title_Name</th>
                                                <th class="sub_col">@LayoutResource.CheckList_Label_Title_ItemName</th>
                                                <th class="sub_col" style="max-width: 150px; width: 150px">Loại checklist</th>
                                                <th class="sub_col" style="max-width: 150px; width: 150px">Hệ thống</th>
                                                <th class="sub_col" style="max-width: 150px; width: 150px">@LayoutResource.CheckList_Label_Title_SetupDate</th>

                                                <th class="sub_col" style="max-width: 150px; width: 150px">Ngày hết hạn</th>
                                                <th class="sub_col" style="max-width: 150px; width: 150px">Người thực hiện</th>
                                                <th class="sub_col" style="max-width: 90px; width: 90px">@LayoutResource.Share_State__Lable_StateName</th>
                                                <th class="sub_col" style="max-width: 385px; width: 150px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{var rownumber = (Model.PageNumber - 1) * Model.PageCount;}
                                            @foreach (var item in Model.listData)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <span class="text-center">@(++rownumber)</span>
                                                    </td>
                                                    <td style="max-width:900px!important;">
                                                        <span class="badge badge-success">@item.CheckListName </span>
                                                        <br />
                                                        <span style="font-weight:bold;"> @LayoutResource.CheckList_Label_Title_CreateDate</span>: <span>  @((item.CreatedDate).ToString(StringHelper.DateTimeNoSecondFormat))  </span>
                                                        <br />
                                                        <span style="font-weight:bold;"> @LayoutResource.CheckList_Label_Title_Description</span>: <span> @StringHelper.SubString(item.Description, 250)   </span>
                                                    </td>
                                                    <td>
                                                        @foreach (var detail in item.Items)
                                                        {
                                                            <span class="badge badge-default">@detail.ItemName</span>
                                                        }

                                                    </td>
                                                    <td>
                                                        @item.CheckListTypeName
                                                    </td>
                                                    <td>
                                                        @item.SystemName
                                                    </td>
                                                    <td>
                                                        @((item.SetupDateFrom).ToString(StringHelper.DateTimeNoSecondFormat))
                                                    </td>
                                                    <td>
                                                        @((item.Deadline).ToString(StringHelper.DateTimeNoSecondFormat))
                                                    </td>
                                                    <td>
                                                        @foreach (var user in item.Users)
                                                        {
                                                            <span class="badge badge-primary">@user.FullName</span>
                                                        }
                                                    </td>


                                                    <td class="text-center">
                                                        <div style="font-size: 9px;" class="label @Html.StatusClass(item.CheckListStatusId)">@item.StateName</div>
                                                    </td>
                                                    <td>
                                                        @if (Functions.CheckAllowAction("OperationCheckList", "ViewDetailHistory"))
                                                        {
                                                            var linkEdit = Url.RouteUrl("ViewDetailHistory", new { InstanceId = item.InstanceId });
                                                            @Html.EditToPopupBtn(height: 650, isLgSize: true, title: "Xem chi tiết", href: linkEdit, iconActionClass: "fa-eye")
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @Helpers.Paging(Model.TotalCount, Model.PageNumber, true, Model.PageCount)

                            }
                            else
                            {
                                @Html.Partial("_ErrorOccur", LayoutResource.Shared_NoRowFound)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_PopupChangeStateOperationChecklist")

<script>
    $(function () {
        $("#kw").on("keypress", function (e) {
            if (e.which == 13) {
                $("#searchform").submit();
            }
        });
        $("#searchform").submit(function () {
            $("#kw").css("color", "white").css("transition-duration", "0").css("-moz-transition-duration", "0").css("-o-transition-duration", "0");
            $("#kw").val(encodeURIComponent($("#kw").val()));
        });

        $("#kw").on("keypress", function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    })
</script>
