@using Admin.Models.Operation
@using Contract.Log;
@using Contract.Enum;
@using VG.Common;
@model ViewHistoryLogModel
@{
    string errorMessage = ViewBag.ErrorMessage as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var canApproveCheckListDetail = Functions.CheckAllowAction("OperationCheckList", "SaveApproveCheckListDetail");
}
<div class="modal_booking modal_booking_iframe">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            ×
        </button>
        <h2 class="modal-title title-popup">
            Lịch sử thay đổi khi vận hành checklist
        </h2>
        <p class="place"></p>
    </div>
    <div class="modal-body">
        <div class="body_booking">
            @if (string.IsNullOrEmpty(errorMessage) == false)
            {
                @Html.Partial("_ErrorOccur", errorMessage)
            }
            else if (Model == null)
            {
                @Html.Partial("_ErrorOccur", LayoutResource.Shared_NoRowFound)
            }
            else
            {
                <div class="row" style="margin-bottom:25px!important;">
                    <div class="col-sm-12">
                        <span class="text-primary bold">Tên checklist</span> : <span style="font-weight:bold;">@Model.CheckListName </span>
                        <br />
                        <span class="text-primary bold">Tên hệ thống</span> : <span style="font-weight:bold;">@Model.SystemName </span>
                        <br />
                        <span class="text-primary bold">Loại checklist</span> : <span style="font-weight:bold;">@Model.CheckListTypeName </span>
                        <br />
                        <span class="text-primary bold">Ngày hết hạn</span> : <span style="font-weight:bold;">@((Model.DeadLine).ToString(StringHelper.DateTimeNoSecondFormat)) </span>
                        <br/>
                        <span class="text-primary bold">Trạng thái</span> : <span style="font-weight:bold;">@(EnumExtension.GetDescription((CheckListStateEnum)@Model.State)) </span>
                    </div>
                </div>

                <form class="frmUpdateCheckListDetail" id="frmPopUp" method="post">
                    @Html.AntiForgeryToken()

                    @*<div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped info-table margin_b0 table_booking table_week">
                                <thead>
                                    <tr>
                                        <th class="sub_col" style="max-width: 60px;width:15px">@LayoutResource.Shared_Label_SortNumber</th>
                                        <th class="sub_col">Tên hạng mục</th>
                                        <th class="sub_col">Diễn giải</th>
                                        <th class="sub_col"> Ghi chú</th>
                                        <th class="sub_col">
                                            Hoàn thành
                                        </th>
                                        <th class="sub_col">
                                            Chưa hoàn thành
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{var i = 0;}
                                    @foreach (var item in Model.listClItems)
                                    {
                                        <tr>
                                            <td class="text-right">@(i + 1)</td>
                                            <td>@item.ItemName</td>
                                            <td>@item.Description</td>
                                            <td> @(item == null ? string.Empty : item.Comment)</td>
                                            <td class="text-center">
                                                <input type="radio" disabled="disabled" class="radioCheckList opt1" name="listClItems[@i].State" value="1" @(item.State == 1 ? "checked=checked" : "") />
                                            </td>
                                            <td class="text-center">
                                                <input type="radio" disabled="disabled" class="radioCheckList opt2" name="listClItems[@i].State" value="0" @(item.State == 0 ? "checked=checked" : "") />
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped info-table margin_b0 table_booking table_week">
                                <thead>
                                    <tr>
                                        <th class="sub_col" style="max-width: 60px;width:15px">@LayoutResource.Shared_Label_SortNumber</th>
                                         <th class="sub_col">Hành động</th>
                                        <th class="sub_col">Đối tượng</th>
                                        <th class="sub_col">Trạng thái cũ</th>
                                        <th class="sub_col">Trạng thái mới</th>
                                        <th class="sub_col">Ngày thay đổi</th>
                                        <th class="sub_col">Tạo bởi</th>
                                        <th class="sub_col">Ghi chú</th>

                                    </tr>
                                </thead>
                                <tbody>
                                   @{var i = 0;}
                                     @foreach (var log in Model.LogChange)
                                    {
                                        <tr>
                                            <td class="text-right">@(i + 1)</td>
                                            <td>@(EnumExtension.GetDescription((ActionTypeEnum)log.ActionId))</td>
                                            <td>@(EnumExtension.GetDescription((ObjectTypeEnum)log.ObjectTypeId))</td>
                                            @if (log.OldState == 0)
                                            {
                                                <td>Khởi tạo</td>
                                            }
                                            else
                                            {
                                                <td>@(EnumExtension.GetDescription((CheckListStateEnum)log.OldState))</td>
                                            }
                                            @if (log.NewState == 0)
                                            {
                                                <td>Khởi tạo</td>
                                            }
                                            else
                                            {
                                                <td>@(EnumExtension.GetDescription((CheckListStateEnum)log.NewState))</td>
                                            }
                                            <td>@((log.CreatedDate).ToString(StringHelper.DateTimeNoSecondFormat))</td>
                                            <td>@log.CreatedByName</td>
                                            <td>@log.NewInformation</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </form>

                                        }
        </div>


    </div>
</div>

@section styles{
    @Styles.Render("~/styles_searchfrm")
    <style>
        .select2-results .select2-disabled {
            display: none;
        }

        body {
            min-height: 422px !important;
        }

        .cke_dialog_ui_labeled_label {
            font-weight: bold !important;
            margin-bottom: 5px !important;
        }

        .cke_dialog_ui_input_file.input {
            font-size: 12px !important;
        }

        .cke_dialog_tab {
            font-weight: bold !important;
        }
    </style>
}
@Scripts.Render("~/javas_searchfrm")
@section scripts{
    <script>

    </script>
}
