@using Admin.Models.User
@using Admin.Resource
@model LoginModel

@{
    Layout = null;
    ViewBag.Title = LayoutResource.Shared_ToolTitle_LoginPage;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="~/assets/img/ficon.ico" />
    @Styles.Render("~/authbasecss")
</head>
<body style="height: 100%;" target="_top">
    <div class="bg_booking"></div>
    <div class="login_container">
        <form action="@Url.Action("DoLogin")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="refurl" value="@Request.Params["refurl"]" />
            <h3 class="login_heading">@ViewBag.Title</h3>
            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control input-lg" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                <div id="show_hide_password" class="form-group has-feedback">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control input-lg" })
                    <span style="pointer-events:all;cursor:pointer;" rel="tooltip" data-bs-placement="top" data-original-title="Click to show Password" class="glyphicon glyphicon-eye-close form-control-feedback"></span>
                </div>
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
            {
                <div class="form-group not_input_error">
                    <span class="field-validation-error">@ViewData.ModelState[""].Errors[0].ErrorMessage</span>
                </div>
            }
            @if (ViewBag.LoginFailed > VG.Common.AppUtils.NumberShowCaptCha)
            {
                @*<div class="form-group">
                        @Html.LabelFor(x => x.Captcha)
                        @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control input-lg", style = "background-image: url('/Authen/CaptchaImage'); background-repeat: no-repeat; background-position: right;" })
                        <div style="text-align:right">
                            <a href="javascript:ReloadCaptcha();">Tải lại</a>
                        </div>
                        @Html.ValidationMessageFor(x => x.Captcha)
                    </div>*@
                <div class="row" style="margin-bottom:10px;">
                    <div class='col-xs-12 g-recaptcha' data-sitekey='@VG.Common.AppUtils.ReCaptChaSiteKey' data-callback='enableBtn'></div>
                </div>
                <script>
                    window.onload = function () {
                        document.getElementById('btnLogin').disabled = true;
                    }
                    function enableBtn() {
                        document.getElementById('btnLogin').disabled = false;
                    }
                </script>
            }
            <div class="submit_section">
                <div style="color: red; margin: 5px 0px; text-align: center"></div>
                <button class="btn btn-lg btn_login btn-danger btn-block linkURL" type="submit" id="btnLogin">@LayoutResource.Login_BtnText_Submit</button>
            </div>
        </form>
    </div>
    @Scripts.Render("~/loginvalidator")
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    @*<script>
            $(document).ready(function () {
                if ($(parent.document).find('#iframePopup').length > 0) {
                    parent.window.location.reload();
                }
            });

            function ReloadCaptcha() {
                var t = Math.random();
                $('#Captcha').css("background-image", "url(/Authen/CaptchaImage?t=" + t + ")");
            }
        </script>*@
    <script>
        // To make Pace works on Ajax calls
        //$(document).ajaxStart(function () { Pace.restart(); });
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip();
            $("#show_hide_password span").click(function () {
                //console.log("cccccccc");
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password span').addClass("glyphicon-eye-close");
                    $('#show_hide_password span').removeClass("glyphicon-eye-open");
                    $('#show_hide_password span').attr('data-original-title', 'Click to show Password');
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password span').removeClass("glyphicon-eye-close");
                    $('#show_hide_password span').addClass("glyphicon-eye-open");
                    $('#show_hide_password span').attr('data-original-title', 'Click to hide Password');
                }
            });
        });
    </script>

</body>
</html>